@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: clip;
  }

  body {
    @apply bg-background text-foreground font-sans overflow-x-clip antialiased;
    cursor: none;
    /* We will use a custom cursor */
  }

  /* Lenis smooth scrolling requires this */
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Cursor Styles */
#custom-cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
  border-radius: 50%;
  mix-blend-mode: difference;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

#custom-cursor.hover {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
}